/*树开始*/
.tree {
  font-size: 15px;
  padding-left: 9px;
  overflow-x: auto;
  overflow-y: auto;
  white-space: nowrap;
  position: relative;
  border: none;
}

[class*="icon-"]:first-child {
  display: inline-block;
  margin: -2px 0 0 -2px;
  position: relative;
  z-index: 2;
}

.icon-folder {
  color: #485274;
}

.icon-folder-open {
  color: #485274;
  font-size: 16px;
}

.tree-folder, .tree-item {
  border: 1px solid #fff;
}

.tree-folder {
  position: relative;
}

.tree-folder:last-child::after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 15px;
  bottom: 0;
  left: -9px;
  z-index: 1;
  border-left: 1px solid #FFF;
}

.tree-folder::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 16px;
  left: -7px;
  width: 18px;
  height: 0;
  border-top: 1px dotted #ccc;
  z-index: 1;
}

.tree-folder.main-tree-folder::before {
  display: none;
}

.tree-folder-header, .tree-item {
  position: relative;
  height: 32px;
  line-height: 32px;
  padding: 0 10px;
  z-index: 2;
}

.tree-folder-header i {
  cursor: pointer;
}

.tree-folder-name {
  cursor: pointer;
  display: inline;
  z-index: 2;
}

.tree-button-tools {
  display: none;
}

.tree-button-show {
  display: inline-block;
}

a {
  color: #333;
  display: inline-block;
}

.tree-folder-content {
  display: none;
  position: relative;
  z-index: 2;
  margin-left: 23px;
}

.tree-folder-content::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: -9px;
  bottom: 16px;
  left: -8px;
  z-index: 1;
  border-left: 1px dotted #ccc;
}

.tree-item {
  position: relative;
}

.tree-item::before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 16px;
  left: -7px;
  width: 18px;
  height: 0;
  border-top: 1px dotted #ccc;
  z-index: 1;
}


.dash-line {
  border: 1px dashed blue;
}


